html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  background-color: #282a36;
  line-height: 1.6;
  letter-spacing: 0.06em;
  scroll-behavior: smooth;
  font-family: trebuchet ms, Verdana, verdana ref, segoe ui, Candara, lucida grande, lucida sans unicode, lucida sans, Tahoma, sans-serif, base-style;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #232327;
}
::-webkit-scrollbar-thumb {
  background: #515186;
}
::-webkit-scrollbar-thumb:hover {
  background: #8d8de0;
}
.container {
  margin: 0 auto;
  max-width: 720px;
  color: #b3b1ad;
  color: #39bae6;
}
.post-list {
  font-size: 20px;
  text-align: left;
}
.post-list li {
  padding: 8px 0;
  border-bottom: 1px dashed rgba(61,66,77,0.6);
}
.post-list li a {
  -webkit-transition: ease-in 0.4s opacity;
  -moz-transition: ease-in 0.4s opacity;
  -ms-transition: ease-in 0.4s opacity;
  transition: ease-in 0.4s opacity;
}
.post-list li a:link {
  color: #b3b1ad;
  text-decoration-line: none;
}
.post-list li a:hover {
  opacity: 1;
  color: #ddd;
}
.posts-header {
  border-bottom: 1px solid #bd93f9;
}
.posts-header h1 {
  font-size: 2em;
}
