/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  background-color: #282a36;
  line-height: 1.6;
  letter-spacing: .06em;
  scroll-behavior: smooth;
  font-family: trebuchet ms,Verdana, verdana ref,segoe ui,Candara, lucida grande,lucida sans unicode,lucida sans, Tahoma,sans-serif, base-style; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background: #3d2a4d;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #4b4b77; }

.container, .header nav, .footer, .posts {
  margin: 0 auto;
  color: #b3b1ad;
  max-width: 720px; }

@media screen and (max-width: 720px) {
  .container, .header nav, .footer, .posts {
    margin: 0 8px; } }

.header {
  box-shadow: 0px 1px #3d424d99; }
  .header ul > li {
    display: inline-block;
    padding: 8px 0; }
    .header ul > li.active {
      box-shadow: 0px 1px #ff79c6; }
    .header ul > li:nth-child(2n) {
      margin: 0 16px; }
    .header ul > li a {
      display: inline-block;
      font-size: 1.2em;
      color: #6272a4;
      text-decoration-line: none; }
      .header ul > li a:hover {
        color: #b3b1ad; }

.footer {
  padding: 56px;
  text-align: center; }

.posts {
  margin-top: 100px;
  min-height: 50vh; }
  .posts ul > li {
    cursor: pointer;
    padding: 8px 0;
    border-bottom: 1px dashed #3d424d99; }
    .posts ul > li:hover .post-item-date, .posts ul > li:hover a {
      color: #f8f8f2; }
    .posts ul > li a {
      text-decoration-line: none;
      color: #b3b1ad; }
    .posts ul > li .post-item-date {
      float: right; }

.article-title {
  font-size: 3em;
  font-weight: bolder;
  margin-top: 56px; }

.article-info {
  font-size: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #3d424d99; }
  .article-info .article-tag-item {
    margin-left: 24px;
    color: #6272a4;
    padding: 2px 4px; }

.article-entry h1 {
  font-size: 2em; }

.article-entry h2 {
  font-size: 1.5em; }

.article-entry h3 {
  font-size: 1.3em; }

.article-entry h4 {
  font-size: 1.2em; }

.article-entry h5 {
  font-size: 1em; }

.article-entry h6 {
  font-size: 1em; }

.article-entry hr {
  border: 1px dashed #fff; }

.article-entry strong {
  font-weight: bold; }

.article-entry em, .article-entry cite {
  font-style: italic; }

.article-entry sup, .article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

.article-entry sup {
  top: -0.5em; }

.article-entry sub {
  bottom: -0.2em; }

.article-entry small {
  font-size: 0.85em; }

.article-entry acronym, .article-entry abbr {
  border-bottom: 1px dotted; }

.article-entry ul, .article-entry ol, .article-entry dl {
  margin: 0 20px;
  line-height: 1.6em; }

.article-entry ul ul, .article-entry ul ol, .article-entry ol ul, .article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0; }

.article-entry ul {
  list-style: disc; }

.article-entry ol {
  list-style: decimal; }

.article-entry dt {
  font-weight: bold; }

.article-entry a {
  color: #b3b1ad;
  text-decoration-color: #f8f8f2; }
  .article-entry a:hover {
    color: #f8f8f2; }

.article-entry p, .article-entry table {
  line-height: 1.8em;
  margin: 1.8em 0; }

.article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
  font-weight: bold; }

.article-entry h1, .article-entry h2, .article-entry h3, .article-entry h4, .article-entry h5, .article-entry h6 {
  line-height: 1.2em;
  margin: 1.2em 0; }

.code-block, .article-entry pre, .article-entry .highlight {
  background: #21222c;
  padding: 15px 20px;
  border-style: solid;
  border-color: rgba(189, 147, 249, 0.2);
  border-width: 1px 0;
  overflow: auto;
  color: #cccccc;
  line-height: 2em; }

.line-numbers, .article-entry .highlight .gutter pre, .article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em; }

.article-entry code {
  background: #6699cc;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em; }

.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0; }

.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0; }

.article-entry .highlight table {
  margin: 0;
  width: auto; }

.article-entry .highlight td {
  border: none;
  padding: 0; }

.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999999;
  line-height: 1em;
  margin-bottom: 1em; }
  .article-entry .highlight figcaption a {
    float: right; }

.article-entry .highlight .gutter pre {
  color: #cc99cc;
  text-align: right;
  padding-right: 20px; }

.article-entry .highlight .line {
  height: 2em; }

.article-entry .highlight .line.marked {
  background: #515151; }

.article-entry .gist {
  border-style: solid;
  border-width: 1px 0;
  background: #21222c;
  padding: 15px 15px 15px 0; }
  .article-entry .gist .gist-file {
    border: none;
    margin: 0; }
    .article-entry .gist .gist-file .gist-data {
      background: none;
      border: none; }
      .article-entry .gist .gist-file .gist-data .highlight .gutter pre, .article-entry .highlight .gutter .gist .gist-file .gist-data pre, .article-entry .gist .gist-file .gist-data .line-numbers {
        background: none;
        border: none;
        padding: 0 20px 0 0; }
      .article-entry .gist .gist-file .gist-data .line-data {
        padding: 0 !important; }
    .article-entry .gist .gist-file .highlight {
      margin: 0;
      padding: 0;
      border: none; }
    .article-entry .gist .gist-file .gist-meta {
      background: #21222c;
      color: #999999;
      font-size: 0.85em;
      text-shadow: 0 0;
      padding: 0;
      margin-top: 1em; }
      .article-entry .gist .gist-file .gist-meta a {
        font-weight: normal; }
        .article-entry .gist .gist-file .gist-meta a:hover {
          text-decoration: underline; }

.article-entry pre .comment,
.article-entry pre .title {
  color: #999999; }

.article-entry pre .variable,
.article-entry pre .attribute,
.article-entry pre .tag,
.article-entry pre .regexp,
.article-entry pre .ruby .constant,
.article-entry pre .xml .tag .title,
.article-entry pre .xml .pi,
.article-entry pre .xml .doctype,
.article-entry pre .html .doctype,
.article-entry pre .css .id,
.article-entry pre .css .class,
.article-entry pre .css .pseudo {
  color: #f2777a; }

.article-entry pre .number,
.article-entry pre .preprocessor,
.article-entry pre .built_in,
.article-entry pre .literal,
.article-entry pre .params,
.article-entry pre .constant {
  color: #f99157; }

.article-entry pre .class,
.article-entry pre .ruby .class .title,
.article-entry pre .css .rules .attribute {
  color: #f1fa8c; }

.article-entry pre .string,
.article-entry pre .value,
.article-entry pre .inheritance,
.article-entry pre .header,
.article-entry pre .ruby .symbol,
.article-entry pre .xml .cdata {
  color: #f1fa8c; }

.article-entry pre .css .hexcolor {
  color: #66cccc; }

.article-entry pre .function,
.article-entry pre .python .decorator,
.article-entry pre .python .title,
.article-entry pre .ruby .function .title,
.article-entry pre .ruby .title .keyword,
.article-entry pre .perl .sub,
.article-entry pre .javascript .title,
.article-entry pre .coffeescript .title {
  color: #6699cc; }

.article-entry pre .keyword,
.article-entry pre .javascript .function {
  color: #cc99cc; }

.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .home .host {
    font-size: 2em; }
  .home a {
    display: inline-block;
    font-size: 1.2em;
    line-height: 2em;
    color: #6272a4;
    text-decoration-line: none; }
    .home a:hover {
      color: #b3b1ad; }

.tag-item {
  display: inline-block;
  padding: 2px 12px;
  margin: 4px 12px;
  border-radius: 12px; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; }
  .about .source-code {
    line-height: 100px; }
