<div class="container home" >
    <div>
        <span class="host" >TOKO</span>
        <br />
        <a href="<%-config.root+'/posts'%>">文章</a>
        <br />
        <a href="<%-config.root+'/tags'%>">标签</a>
        <br />
        <a href="<%-config.root+'/about'%>">关于</a>
        <br />
        
    </div>
</div>