<div class="container home" >
    <div>
        
        <br />
        <img class="logo" src=" <%-config.root+'/images/logo.png'%>" alt="">
        <br />
        <a href="<%-config.root+'/posts'%>">文章</a>
        <br />
        <a href="<%-config.root+'/tags'%>">标签</a>
        <br />
        <a href="<%-config.root+'/about'%>">关于</a>
       
        <br />
        <span class="host" >
            TOKO
        </span>
        
    </div>
</div>