<main class="container posts">

      <% site.tags.data.forEach(function(tag, i){ %>  
          <span class="tag-item">#
            <a href="<%- config.root +  tag.path %>">
                <%- tag.name %>
            </a>
        </span>
      <% }) %>
      
 
</main>