.article-title{
  font-size: 3em;
  font-weight: bolder;
  margin-top:56px;
}
.article-info {
  font-size: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $dashed-color;
  .article-tag-item{
    margin-left: 24px;
    // background: $main-color;
    color: $header-color;
    padding: 2px 4px;
  }
}
.article-entry{
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.3em;
  }
  h4{
    font-size: 1.2em;
  }
  h5{
    font-size: 1em;
  }
  h6{
    font-size: 1em;
  }
  hr{
    border: 1px dashed #fff;
  }
  strong{
    font-weight: bold;
  }
  em, cite{
    font-style: italic;
  }
  sup, sub{
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  };
  sup{
    top: -0.5em;
  }
  sub{
    bottom: -0.2em;
  }
  small{
    font-size: 0.85em;
  }
  acronym, abbr{
    border-bottom: 1px dotted;
  }
  ul, ol, dl{
    margin: 0 20px;
    line-height: 1.6em; 
  }

  ul, ol{
    ul, ol{
      margin-top: 0;
      margin-bottom: 0;   
    }
  }

  ul{
    list-style: disc;
  }
  ol{
    list-style: decimal;
  }
  dt{
    font-weight: bold;
  }
  a{
    color: $main-color;
    text-decoration-color: $hover-color;
    &:hover{
      color: $hover-color;

    }
  }

  // padding: 0 56px;
  p, table{
    line-height: 1.8em;
    margin: 1.8em 0;   
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: bold
  }
  h1, h2, h3, h4, h5, h6{
    line-height: 1.2em;
    margin: 1.2em 0;
  }

  
  

}