.article-title{
  color: #bbb;
  font-size: 3em;
  font-weight: bold;
  margin-top:56px;
}
.article-info {
  font-size: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $dashed-color;
  .article-tag-item{
    a{
      margin-left: 24px;
      text-decoration: none;
      color: $link-color;
      padding: 2px 4px;
      &:hover{
        color: $hover-color;
      }   
    }

  }
}
.article-entry{
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.8em;
  }
  h3{
    font-size: 1.4em;
  }
  h4{
    font-size: 1.1em;
  }
  h5{
    font-size: 1em;
  }
  h6{
    font-size: 1em;
  }
  hr{
    border: 1px dashed #fff;
  }
  strong{
    font-weight: bold;
  }
  em, cite{
    font-style: italic;
  }
  sup, sub{
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  };
  sup{
    top: -0.5em;
  }
  sub{
    bottom: -0.2em;
  }
  small{
    font-size: 0.85em;
  }
  acronym, abbr{
    border-bottom: 1px dotted;
  }
  ul, ol, dl{
    margin: 0 20px;
    line-height: 1.6em; 
  }

  ul, ol{
    ul, ol{
      margin-top: 0;
      margin-bottom: 0;   
    }
  }

  ul{
    list-style: disc;
    margin-left: 40px;
  }
  ol{
    list-style: decimal;
  }
  dt{
    font-weight: bold;
  }
  a{
    color: $link-color;
    text-decoration: none;
    &:hover{
      color: $hover-color;

    }
  }
  p{
    text-indent: 2em;
  }
  // padding: 0 56px;
  p, table{
    line-height: 1.5em;
    margin: 1em 0;   
  }

  h1, h2, h3, h4, h5, h6{
    color: #bbb;
    font-weight: bolder;
    line-height: 1.2em;
    margin: 1.2em 0;
  }

  blockquote{
    padding: 20px;
    background-color: $dashed-color;
    border-left: 6px solid $border-color;
    word-break: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 20px;
  }



  
  

}