
.header{
  // box-shadow: 1px 1px 1px $main-color;
  box-shadow: 0px 1px $dashed-color;
  // border-bottom: 1px solid $main-color;
  nav{
    @extend .container;
  }
  ul>li{
    display: inline-block;
    box-shadow: 0px 1px #ff79c6;
    padding: 8px 0;
    &:nth-child(2n){
      margin: 0 16px;
    }
    a{
      display: inline-block;
      font-size: 1.2em;
      color: #6272a4;
      text-decoration-line: none;
      &:hover{
        color: $main-color;
      }
    }
  }
}
