
.header{
  box-shadow: 0px 1px $dashed-color;
  nav{
    @extend .container;
  }
  ul>li{
    display: inline-block;
    padding: 8px 0;
    &.active{
      box-shadow: 0px 1px $shadow-color;
    }
    &:nth-child(2n){
      margin: 0 16px;
    }
    a{
      display: inline-block;
      font-size: 1.2em;
      color: $header-color;
      text-decoration-line: none;
      &:hover{
        color: $hover-color;
      }
    }
  }
}
