.home{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .host{
    font-size: 2em;
  }
  a {
       display: inline-block;
      font-size: 1.2em;
      line-height: 2em;
      color: #6272a4;
      text-decoration-line: none;
      &:hover{
        color: $main-color;
      }
  }
}