.post-list
  font-size: 20px
  text-align: left
  li
    padding: 8px 0
    border-bottom: 1px dashed #3d424d99 
    a
      transition: ease-in .4s opacity
      &:link
        color: #b3b1ad
       
        text-decoration-line: none
      &:hover
        opacity: 1
        color: #ddd

.posts-header
  h1 
    font-size: 2em
  border-bottom: 1px solid #bd93f9