<header class="header">
  <nav>
    <ul>
      <li class="<%- active=='home'?'active':'' %>"><a href="">TOKO</a></li>
      <li class="<%- active=='posts'?'active':'' %>"><a href="">文章</a></li>
      <li class="<%- active=='tag'?'active':'' %>"><a href="">标签</a></li>
      <li class="<%- active=='about'?'active':'' %>"><a href="">关于</a></li>
    </ul>
  </nav>
</header>
