<header class="header">
  <nav>
    <ul>
      <li><a href="">TOKO</a></li>
      <li><a href="">文章</a></li>
      <li><a href="">标签</a></li>
      <li><a href="">关于</a></li>
    </ul>
  </nav>
</header>
