<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='http://www.youziku.com/webfont/CSS/7b505be3a01c76e5ba846f1a39482ca5' rel='stylesheet' type='text/css'/>
  <%- css(['css/style']) %>
  <title>toko的blog</title>
</head>